* {
  margin: 0;
  padding: 0;
}
:root {
  --blue: #090d2c;
  --white: #ffffff;
  --skyBlue: #b9cbee;
  --buttonBlue: #37599c;
  --charcoal: #333333;
  scroll-behavior: smooth;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
a {
  text-decoration: none;
  color: black;
}
a:visited {
  color: black;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 8vh;
  border-bottom: 2px solid gray;
}
header h1 {
  padding: 1rem;
  font-size: min(4vw, 2rem);
}
nav {
}
nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
nav ul li {
  padding: 1rem;
  font-size: min(3vw, 1.5rem);
}
nav ul li a:hover {
  color: white;
}
